<div class="wrapper">
  <div class="side-bar">
    <div class="side-header">
    </div>
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <div class="chat-header">
    </div>
    <div calss="chat-main">
    </div>
    <div class="chat-footer">
    </div>
    <%= render "main_chat" %>
  </div>
</div>